*, *::before, *::after {
    box-sizing: border-box;
}


.header {
    text-align: center;
    font-weight: bold;
}

.questions {
    text-align: center;
}
.container {
    text-align: center;
}

.hide {
    display: none;
}
